@tailwind base;
@tailwind components;
@tailwind utilities;

/* Miscellaneous */
[x-cloak] { display: none !important; }

.checked\:after\:transition-\[background-color_0\.2s\2c transform_0\.2s\]:checked::after {
    position: static !important;
}

.scrollbar-w-2::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #edf2f7;
    background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
}
.row-as-link:hover{
    cursor: pointer;
    background-color: rgba(32, 201, 151, 0.75);
    padding: 10px;
    color: white !important;
    transform: none !important;
}
.max-h-300{
    max-height: 53vh !important;
}

.hidden-class{
    display: none;
}


.ml-minus-8{
    margin-left: -8px;
}
.bg-nav-color{
    background: #0e7490;
}


.noLoading{
    display: none;
}

.lcc-button{
    border: none !important;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: transparent !important;

    -moz-animation: cssAnimation 0s ease-in 1500s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 1500s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 1500s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 1500s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/* Transparent Overlay */
.loading:before {

    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    position: unset !important;
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;

    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}



@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.min-h-600{
    min-height: 600px !important;
}
.min-w-375{
    min-width: 375px;
}
#toggleShowPopUp{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    display:none;
}
#toggleShowPopUp button{
    float:right;
}

#deleteShowPopUp{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    display:none;
}
#deleteShowPopUp button{
    float:right;
}



#activeMessageShowPopUp{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    display:none;
}
#activeMessageShowPopUp button{
    float:right;
}

#deActiveMessageShowPopUp{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    display:none;
}
#deActiveMessageShowPopUp button{
    float:right;
}

.hidden_div{
    display: none;
}


.ticketIcon{
    position: relative;
    display: inline-block;
}

.ticketIcon .ticketIconText {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.ticketIcon:hover .ticketIconText {
    visibility: visible;
}







#ticketInsetUpdateForm {
    padding: 20px 40px;
}

#ticketInsetUpdateForm-control {
    display: flex;
    color: red;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    outline: none;
    border: 1px solid gainsboro;
}

small {
    color: red !important;
    margin-top: 5px;
    font-size: 16px;
}


#ticketInsetUpdateForm-control.error small {
    visibility: visible;
    color: red;

}

#ticketInsetUpdateForm-control.error input {
    border-color: #e75c3c;
}

#ticketInsetUpdateForm-control.success input {
    border-color: #2ecc71;
    color: white;
}
